html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a:hover {
    text-decoration: none; /* TODO: this doesn't work with the upload button, for some reason */
}

#pageContainer {
    height: auto;
    min-height: 100%;
    width: 100%;
    background-color: #fafafa;
}

#mastHeadContainer {
    width: 100%;
    height: 56px;
    position: fixed;
    left: 0;
    top: 0;
    padding: 7px 16px;
    box-sizing: border-box; /* border-box allows for the padding to be included in the size, avoiding bleed */
    border-bottom: 1px solid #e8e8e8;
    background-color: #fff;
    z-index: 1;
    
    display: flex;
    align-items: center;
    align-content: center;
    
}

#sideNavContainer {
    width: 240px;
    background-color: #f5f5f5;
    padding-top: 56px;
    
    position: fixed;
    top: 0;
    bottom: 0; /* these two attach the element to the top and bottom */ 
    
    display: flex;
    flex-direction: column;
}

#mainSectionContainer {
    padding-top: 56px;
    display: flex;
}

#mainContentContainer {
    flex: 1;
    display: flex;
    padding: 10px 30px;
}

#mainContentContainer form {
    width: 100%;
}

.mainLeftPadding {
    padding-left: 240px;
}


#mastHeadContainer button:not(.searchButton), 
#mastHeadContainer .rightIcons img {
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    border: none;
    background-color: transparent;
}

#mastHeadContainer .rightIcons {
    height: 100%;
}

#mastHeadContainer button img {
    width: 80%;
    padding-bottom: 5px;
}

#mastHeadContainer .logoContainer {
    width: 120px;
}

#mastHeadContainer .logoContainer img {
    margin-left: 8px;
    height: 35px;
}

#mastHeadContainer .searchBarContainer {
    margin: 0 40px;
    
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer form {    
    flex: 1;
    display: flex;
}

#mastHeadContainer .searchBarContainer .searchBar {
    flex: 1;
    max-width: 600px;
    padding: 2px 6px;
    height: 32px;
    
    color: #111;
    font-size: 14px;
    font-weight: 100;

    border: 1px solid #ccc;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    border-shadow: #eee 0px 1px 2px 0px inset; /* inset shadow turns the shadow from an outside to inside shadow */
}

#mastHeadContainer .searchBarContainer .searchButton {
    height: 32px;
    width: 50px;
    padding-bottom: 2px;

    background-color: #f8f8f8;

    border: 1px solid #d3d3d3;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    
    cursor: pointer;
}

#mastHeadContainer .searchBarContainer .searchButton img {
    height: 20px;
    width: 20px;
    
    margin-bottom: auto;
}

/****** upload page ******/
.column {
    background-color: white;
    box-shadow: #0003 0 1px 2px; 

    min-height: 300px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.form-group textarea {
    resize: none;
}

#loadingModal {
    padding-left: 10px;
}

#loadingModal img {
    margin-left: 20px;
}


/****** sign-in and log-in pages ******/
.signInContainer {
    background-color: #efefef;
    height: 100vh;
    display: flex;
    flex-grow: 0;
    
    justify-content: center;
    align-content: center;
    align-items: center;
}

.signInContainer .column #siteLogo {
    width: 120px;
    margin-left: -5px;
}

.signInContainer .column {
    width:450px;
    max-height: 100%;
    
    padding: 20px 35px;
    overflow-y: auto;
    flex-grow: 0;
}

.signInContainer .column .header {
    padding: 20px 0;
}

.signInContainer .column h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;

    margin: 0;
    padding-bottom: 0;
    padding-top: 16px;
}

.signInContainer .header span {
    font-size: 14px;
}

.signUpForm form input[type="text"],
.signUpForm form input[type="email"],
.signUpForm form input[type="password"]  {
    border: none;
    border-bottom: 1px solid #dedede;

    margin: 10px 0;
    width: 100%;

    font-size: 14px;
}

.signUpForm form input[type="submit"]  {
    border: none;
    border-radius: 3px;

    height: 36px;
    width: 88px;

    font-weight: 600;

    margin-top: 10px;
    margin-bottom: 20px;

    background: #4285f4;
    color: #fff;
}

.signInMessage {
    font-size: 14px;
    font-weight: 400;
    color: #212529;
}

.error-message {
    color: red;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

/****** Video player ******/

.watchLeftColumn {
    flex: 1;
}

.watchLeftColumn .videoPlayer {
    width: 100%;
}

.watchRightColumn {
    max-width: 425px;
    flex-grow: 1;
    padding-left: 24px;

    height: 100%;    
}

/****** Video info section ******/

.videoInfo {
    width: 100%;
    padding: 20px 0 8px 0;
}

.videoInfo h1 {
    display: block;
    overflow: hidden;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.bottomSection {
    display: flex;
}

.videoInfo .bottomSection .viewCount {
    color: rgba(17, 17, 17, 0.6);
    font-size: 16px;
    flex: 1;
}

.secondaryInfo .topRow {
    display: flex;
    margin-bottom: 12px;
}

.profilePicture {
    height: 100%;
}

.secondaryInfo .topRow .profilePicture {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.secondaryInfo .topRow .uploadInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.secondaryInfo .topRow .uploadInfo .date {
    color: rgba(17, 17, 17, 0.6);
    font-size: 13px;
    font-weight: 400;
}

.secondaryInfo .descriptionContainer {
    margin-left: 64px;
    max-width: 615px;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.secondaryInfo {
    border-bottom: 1px solid #dadada;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.secondaryInfo .topRow .uploadInfo .owner a {
    color: black;
    font-size: 14px;
    font-weight: 600;
}

/****** Like/dislike button ******/

.videoInfo .bottomSection .controls{
    flex: 1;
    text-align: right;
}

.videoInfo .bottomSection .controls button {
    padding: 0;
    background-color: transparent;
    border: none;
    color: rgba(17, 17, 17, 0.4);
    font-weight: 500;
    font-size: 13px;
    cursor: pointer;
}

.videoInfo .bottomSection .controls button img{
    height: 20px;
    width: 20px;
    margin: 4px 8px 8px 8px;    
}

/****** Subscribe button ******/

.secondaryInfo .topRow .button {
    padding: 6px 15px;
    cursor: pointer;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    font-size: 14px;
}

.secondaryInfo .topRow .subscribeButtonContainer,
.secondaryInfo .topRow .editVideoButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.subscribeButtonContainer .subscribe {
    background: #f00;
    color: #fff;
}

.subscribeButtonContainer .unsubscribe {
    background: #eee;
    color: rgba(17, 17, 17, 0.6);
}

.editVideoButtonContainer .edit {
    background: #2692e6;
    color: #fff;
}


/****** Comment section ******/

.commentSection .header {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}

.commentSection .header .commentForm {
    margin-top: 24px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: row;
}

.itemContainer .commentForm {
    display: flex;
}

.commentSection .header .commentForm .profilePicture,
.commentSection .comment .profilePicture {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.commentSection .header .commentForm .commentBodyClass,
.itemContainer .commentForm textarea {
    flex: 1;
    border: 1px solid rgba(17, 17, 17, 0.2);
    border-radius: 2px;    
    background-color: transparent;
    font-size: 14px;
    color: #111;
    resize: none;
    margin-right: 10px;
    box-sizing: content-box;
    padding: 4px 6px;
}

.commentSection .header .commentForm .postComment,
.itemContainer .commentForm .postComment,
.itemContainer .commentForm .cancelComment {
    height: 36px;
    background-color: #2692e6;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 0 15px;
    border-radius: 2px;
}

.itemContainer .commentForm textarea {
    height: 30px;
}

.itemContainer .commentForm .cancelComment {
    background-color: transparent;
    color: rgba(17, 17, 17, 0.6);
}

.itemContainer .commentForm .cancelComment:hover {
    color: #000;
}

.commentSection .comment {
    display: flex;
}

.commentSection .commentHeader {
    margin-bottom: 2px;
}

.commentSection .comment .username {
    margin-right: 8px;
    color: #111;
    font-size: 13px;
    font-weight: 500;
}

.commentSection .comment .timestamp {
    color: #888;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
}

.itemContainer .controls {
    margin-left: 64px;
}

.itemContainer .controls button,
.itemContainer .controls .likesCount {
    height: 32px;
    background-color: transparent;
    border: none;
    font-size: 13px;
    font-weight: 500;
    color: rgba(17,17,17,0.6);
}

.itemContainer .controls button {
    cursor: pointer;
}

.itemContainer .controls .likesCount {
    margin: 0 5px;
}

.itemContainer .controls button img {
    height: 16px;
}

.itemContainer .commentForm .profilePicture {
    width: 30px;
    height: 30px;
}